html{
    height: 100%;
}

.palabras{
    width: 80%;
    height: auto;
    display: block;
}

label{
    display: block;
}

.no-clue-label{
    display: inline-block;
}

input{
    display: block;
}
